#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Lape's Eye
GenericName=Media Browser
Comment=Przeglądarka mediów dla Lape Photo Editor
Exec=lapes-eye %f
Icon=lapes-eye
Type=Application
Categories=Graphics;Photography;
MimeType=image/jpeg;image/jpg;image/png;image/tiff;image/webp;image/bmp;image/gif;image/heic;image/heif;image/avif;image/x-canon-cr2;image/x-canon-cr3;image/x-nikon-nef;image/x-sony-arw;image/x-olympus-orf;image/x-fujifilm-raf;image/x-panasonic-rw2;image/x-adobe-dng;image/x-raw;inode/directory;
StartupNotify=true
StartupWMClass=lapes-eye
Keywords=zdjecia;photo;raw;browser;przeglądarka;
